@model ProyectoFinal.Models.Vacaciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vacaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Desde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrespondienteAgno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrespondienteAgno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VacacionesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
